.App {
  text-align: center;
  background-color: red;
  width: 500px;
  border-radius: 30px;
  padding: 30px 50px;
  box-shadow: 0 0 13px rgb(121, 0, 0);
}

.App h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 500;
}


@media (max-width: 600px) {
  .App {
    width: 100%;
    padding: 15px;
  }
  .App h1 {
    font-size: 30px;
  }
}


