* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
    background-image: linear-gradient(to left, #ff0000, #f30fa7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}